@media only screen and (max-width: 1400px) {
  .subheading {
    font-size: 12px;
  }

  .portfolio-slider .swiper-slide {
    width: 250px !important;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 22px !important;
  }

  p,
  .nav-item,
  li {
    font-size: 12px !important;
  }

  .btn {
    font-size: 14px !important;
  }

  .btn-primary {
    padding: 10px 15px !important;

  }

  .home-hero:after,
  .home-hero:before {
    width: 300px !important;
  }

  .chart-section {
    height: auto !important;
  }

  .chart-section .awards img {
    width: 100px;
  }



}

@media only screen and (max-width: 1250px) {}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 100% !important;
  }

  .navbar .container {
    border: none !important;
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}