html,
body {
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}




::selection {
  background-color: #000;
  color: white;
}

:root {
  --primary-col: #ff8a63;
  --primary-dark: #eb4209;
  --primary-gradient: linear-gradient(
    180deg,
    rgba(251, 122, 79, 1) 0%,
    rgba(235, 66, 10, 1) 100%
  );
}

@font-face {
  font-family: "luxury-regular";
  src: url(/assets/fonts/Luxury.otf) format("opentype");
}

li,
ul {
  list-style: none;
}

a:active,
a:focus,
a:hover,
button:active {
  text-decoration: none;
  outline: 0;
  color: var(--thm-color);
}

a {
  color: var(--black-col);
}

a:hover {
  transition: all 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "luxury-regular", sans-serif;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 8px;
}

h2 {
  font-size: 70px;
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  padding: 23px 0;
}

h3 {
  font-size: 1.67rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 14px;
  color: #8c8c8c;
}

section {
  padding: 50px 0;
  position: relative;
  clear: both;
  scroll-behavior: smooth !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-container {
  padding: 0 7%;
}

.subheading {
  font-size: 36px;
  color: var(--primary-dark);
}

.heading-1 {
  font-size: 90px;
  font-weight: normal;
}

.bg-success {
  background-color: #006341 !important;
}

.text-primary {
  color: var(--primary-dark) !important;
  font-family: sans-serif !important;
}

.bg-primary {
  background: var(--primary-dark) !important;
}


@media (hover: hover) {
    .follower {
      z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;

        width : .6rem;
        height: .6rem;

        display: flex;
        align-items:center;
        justify-content: center;

        pointer-events: none;
        background-color: transparent;
        border-radius: 50%;
        /* background-color: black; */
        backdrop-filter: invert(100%);
        transition: width .23s, height .23s;

        overflow: hidden;

  }
  .follower__content {
    

            font-weight: 400;
            height: 0;
            display: flex;
            align-items: center;
            overflow: hidden;
            position:relative;
            
        }

        .follower__inner {
            position: absolute;
            width: 0;
            height: 0;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            
            /* background-color: white; */
            backdrop-filter: invert(100%);
            opacity: 0;
        }

    }

    body:not(:hover) {
        .follower {
            width : 0;
            height: 0;
        }
    }
}

@media (prefers-reduced-motion) {
    .follower {
        display: none;
    }
}


.followerchangetest {
    width: 400px;
    height: 400px;
    background-color:rebeccapurple;
  margin: 5px;
  border: 1px solid green;
}

.navbar-brand img {
  width: 100px;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-col);
}

.navbar .container {
  border-bottom: 1px solid #dfdfdf;
}

.para {
  font-size: 25px;
}

.home-hero {
  min-height: 85svh;
  position: relative;
}

.story-hero {
  min-height: 85svh;
  background-color: #f9f9f9;
}


.story-hero .float-image {
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 1;
}

.about-section h4{
  color: #eb4209;
  font-family: sans-serif;
  font-weight: bold;
}

.review-hero {
  width: 100%;
  height: 100svh;
  background: url(/assets/images/bg-reviews.png) no-repeat;
  background-size: cover;
}

.career-hero .container {
  background: url(/assets/images/careersbannerimg.png) no-repeat bottom;
  background-size: contain;
  width: 100%;
  height: 80svh !important;
} 

.screenplay-hero {
  min-height: 100vh
}



.home-hero::after {
  content: "";
  background: url(/assets//images/banner-side2.png) no-repeat;
  position: absolute;
  width: 500px;
  height: 100%;
  background-size: contain;
  top: 0%;
  right: 0% !important;
}

.home-hero::before {
  content: "";
  background: url(/assets//images/banner-side1.png) no-repeat;
  background-size: contain;
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0% !important;
}

.btn-primary {
  
  background: var(--primary-gradient);
  border: 4px solid white;
  box-shadow: 1px 2px 25px #f5602ed1 !important;
  color: #fff;
  padding: 20px 30px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  
  background-color: black !important;
  color: #fff !important;
  padding: 20px 30px !important;
  border-radius: 50px !important;
  font-weight: bold !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-primary:hover {
  border: 4px solid white;
  transform: scale(1.3);
}

.btn-secondary:hover {
  
  transform: scale(1.3);
}

.btn-secondary {
  padding: 5px 10px ;
  
  background-color: #3e3e3e;
  color: black;
  border: #3e3e3e;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}


.video-section > video {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.chart-section {
  overflow-x: hidden;
  position: relative;
  min-height: 70vh;
  width: 100%;
  background-color: #f9f9f9;
}

.pattern-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/assets/images/pattern.png) no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
}

.verticalSwiper {
  width: 100%;
  height: 80vh !important;
}

.verticalSwiper .books {
  position: relative;
}

.feedback-box {
  position: absolute;
  bottom: 0px;
  left: -200px;
  background-color: rgba(255, 255, 255, 0.63);
  opacity: 1;
  width: 90%;
  border-radius: 20px;
  min-height: 180px;
  backdrop-filter: blur(10px);
}

.counter-section h3 {
  font-size: 40px !important;
}

.book-lovers .heading {
  font-size: 22px;
  color: var(--primary-dark);
}

.card-3d {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  transition: clip-path 0.1s ease;
}

.card-3d:hover {
  transition-duration: 150ms;
}

.container-3d {
  transition: transform 0.1s ease; /* smooth rotation changes */
}


.services-section {
  min-height: 700px;
  width: 100%;
  color: white; 
  
}

.services-section h3 {
  font-size: 40px;
}

.services-section > .row {
  position: relative;
  z-index: 2;
}



.services-section > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.service-box {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  padding: 40px 20px;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.service-box-dis {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  padding: 40px 20px;
  height: 250px;
  transition: all 0.3s ease-in-out;
}

.service-box .btn {
  width: fit-content !important;
}

.services-section .col-2 {
  padding: 0px;
  border-left: 1px solid #3e3e3e;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-box:hover {
  border-top: 2px solid var(--primary-dark);
}

.service-box:hover .btn-secondary {
  transform: rotate(320deg);
  background-color: #eb4209;
}

.consultation-section {
  position: relative;
}

.consultation-section .dark-bg {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  background-color: #1f1f1fd8;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.consultation-section > .container {
  min-height: 80vh;
}

.consultation-section .iframe-calender {
  height: 830px !important;
  background-color: #fff;
  width: 100%;
}


.logo-float {
  background: url(/assets/images/logo-2.png) no-repeat;
  position: absolute;
  width: 100% !important;
  height: 90% !important;
  top: 0px;
  right: 0%;
  background-size: contain;
}


.portfolio-section .swiper-button-next::after {
  display: none;
}

.portfolioSwiper .swiper-slide {
  position: relative;
  height: 85vh;
}

.portfolio-banner {
  position: absolute;
  font-size: 90px;
  left: 0px;
  bottom: 0px;
  color: rgb(128 128 128);
  opacity: 0.9;
  font-family: "luxury-regular";

}

.portfolio-circle {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  animation: circle-rotate 1s linear;
  opacity: 0;
}

@keyframes circle-rotate {
  from {
    transform: rotate(0deg);
    right: 0px;
    opacity: 0;
  }
  to {
    transform: rotate(-180deg);
    right: 230px;
    opacity: 1;
  }
}

/* .genreSwiper .swiper-slide {
  width: 300px !important;
} */

.genre-section {
  background: url(/assets/images/bg-pano.png) no-repeat bottom;
  background-size: contain;
}

.genre-section h1 {
  font-size: 180px;
  opacity: 0.1;
  font-weight: bolder;
}

.genreSwiper .swiper-slide img {
  width: 300px !important;
  object-fit: cover !important;
}

.faq-section {
  background-color: #f9f9f9;
}

.faq-section .accordion-item { 
  border: none !important;
  border-bottom: 1px solid #d1d5db !important;
  color: #a7a5a5;
  background: transparent;
  width: 100% !important;
}

.faq-section .accordion-header {
  font-family: sans-serif;
  
}

.faq-section .accordion-button {
  padding: 20px 10px !important;
  box-shadow: none;
  font-size: 20px !important;
  color: #a7a5a5;
  background-color: transparent !important;
}

.faq-section .accordion-button:not(.collapsed) {
  background-color: #1f2937 !important;
  color: white !important;
  
}

.faq-section .accordion-button::after {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "\2b";
  font-size: 12px;
  font-family: "fontawesome";
  border: 1px solid black;
  border-radius: 50px;
  transform: none;
}

.faq-section .accordion-button:not(.collapsed)::after {
  color: white !important;
  border: 1px solid white !important;
}

.footer {
  background-color: #1d1d1f;
  font-family: "luxury-regular", sans-serif;
  color: white;
}

.newsletter {
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  height: 100%;
  border-radius: 50px;

}

.newsletter .inp {
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 50px !important;
}

.newsletter .btn {
  position: absolute;
  right: 0px;
  box-shadow: none !important;
  border: none !important;
  background: var(--primary-dark) !important;
  padding: 20px 40px;
  font-weight: normal;
}

.social-box .icon {
  background-color: #3e3e3e;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

html {
  scroll-snap-type: y mandatory;
}

.step-section {
  position: relative;
}

.step-header .heading-1 {
  text-align: center;
  font-size: 150px !important;
  line-height: 150px;
}

.step-section .paragraph {
  position: absolute !important;
  top: 0px;
  left: 0px;
  background-color: #fff;
  text-align: center;
  z-index: 2;
}

.step-box {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-box h1 {
  font-size: 18px !important;
  font-weight: normal !important;
  color: #006341;
  text-align: center;
}

.step-box > div {
  width: 300px;
  height: 400px;
  margin: 20px;
  border: 1px solid black;
  overflow: hidden;
}

.reviewSwiper .swiper-slide {
  position: relative;
  height: 500px; 
}

.reviewSwiper .swiper-slide > div {
  width: 100% !important;
  height: 100% !important;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
}

.reviewSwiper .badge {
  background-color: #cecece;
  color: #5c5c5c;
}



.reviewSwiper .play-btn {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  background-color: #ffffff4f;
  backdrop-filter: blur(3px);
  top:0px;
  left: 0px;
  color: white;
  font-size: 50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewSwiper img {
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.review-fb-box {
  border-radius: 15px;
  background-color: #f2f2f2;
  height: 100%;
  width: 90%;
  margin: 0px auto;
}

.review-fb-box .image-box {
  width: 100% !important;
  height: 200px;
}

.review-fb-box .image-box img {
  object-position: top;
}

.quote-img {
  position: absolute;
  top: -20px;
  right: 20px;
}

.p-books {
  margin-bottom: 30px;
}

.p-books h5 {
  font-family: sans-serif !important;
}

.contact-page {
  background-color: #1d1d1f;
}

.contact-page .nav-link {
  color: white;
}

.contact-page .btn-arrow {
  background-color: transparent;
  position: absolute;
  right: 0px;
  bottom: 5px;
}

.newsletter-2 {
  height: 300px;
  display: flex;
}

.contact-page .inp {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid #767677;
  padding-right: 60px !important;
  width: 100%;
} 

.contact-page .text-secondary {
  color: var(--primary-dark) !important;
}

.need-section .accordion-header {
  font-family: sans-serif !important;
  border: none !important;
}

.need-section .accordion-item {
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid #d1d5db;
}

.need-section .accordion-button {
  background-color: transparent;
  box-shadow: none !important;
  color: #8c8c8c;
}

.need-section .accordion-collapse {
  background-color: white;
  color: #8c8c8c;
}

.need-section .accordion-button::after {
  border: 2px solid #a7a5a5;
  background-position: center;
  padding: 12px;
  border-radius: 50px;
}

.need-section .accordion-button:not(.collapsed) {
  color: var(--primary-dark);
}


.terms-header {
  background-color: #fde7e2;
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
}
.terms-header h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 0;
}
.terms-section h2 {
  font-family: 'luxury-regular', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 15px;
}
.terms-section h3 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  color: #e74c3c;
}
.terms-section p {
  margin-bottom: 15px;
}
.terms-section {
  margin-bottom: 20px;
}
.terms-section li {
  font-size: 14px;
  margin-bottom: 10px;
}

.hidebar {
  position: absolute;
  width: 20%;
  height: 100%;
  background: var(--primary-gradient);
  right: 0px;
  top: 0px;
  z-index: -1;
  transform: translate(0px 0px);
}

.hidebar .wheel {
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: var(--primary-gradient);
  padding: 30px;
  left: -200px;
  top: 250px;
  transform: translate(0px 0px);
}

.screenplay-hero h1 {
  font-family: sans-serif !important;
}



.wheel img {
  width: 100%;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*--------------------- Ayesha Style -----------------*/
.heading-service {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 500;

}

h2 {
  font-size: 3.75rem;
  line-height: 1;
}

.para-service {
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(190 190 190 / var(--tw-text-opacity, 1));

}

.form-wrapper {
  padding: 20px 0;

  .rounded {
    border-radius: 20px !important;
  }
}

.leadform ::placeholder {
  color: #fff;
}

.leadform select,
.leadform select option {
  border: none;
  padding: 1rem;
  border-bottom: solid 1px #fff;
  border-radius: 0;
  font-family: 'luxury-regular';
}

.form-select:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 244 244 / 14%);
}

.form-control {
  font-family: 'luxury-regular';
  border: none;
  padding: 1rem;
  border-bottom: solid 1px #fff;
  border-radius: 0;

}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 244 244 / 14%);
}

.ser-hero-img {
  padding: 0;

  li {
    margin-right: 20px;
  }
}

.center-flex {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-section h3 {
  font-size: 3rem;
}

.services-section {
  padding: 80px 0;
}

.bg-green {
  background-color: rgb(0 99 65 / var(--tw-bg-opacity, 1));
  color: #fff;

  p {
    color: #fff;
  }
}

.custom-list {
  list-style: none;
  padding-left: 0;
}

.custom-list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  font-size: 1rem;
  color: #fff;
  line-height: 1.6;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.custom-list strong {
  font-weight: 600;
}

.cons-para {
  margin: 20px 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.bg-black {
  background-color: rgb(29 29 31) !important;
  color: #fff;

  p {
    color: #fff;
  }

  .next-img img {
    filter: invert(1);
  }

  h4 {
    color: #fff !important;
  }
}

.book-coaching-section {
  background: url('/assets/images/inner-banner.png') no-repeat center center/cover;
  position: relative;
  padding: 100px 0;

  .awards img {
    width: 100px;
    height: auto;
    margin: 0 10px;
  }
}

.book-coaching-section::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(255, 255, 255, 0.322); */
  /* light overlay */
}

.book-coaching-section .container {
  position: relative;
  z-index: 2;
}

.coaching-ul {
  list-style-type: disc;
  padding-left: 20px;

  li {
    list-style-type: disc;
    display: list-item;
    font-size: 1rem;
    margin-bottom: 10px;
  }

  li::marker {
    color: var(--primary-dark);
  }

}

.book-editing-section {

  .service-card {
    text-align: center;
    padding: 60px 35px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
  }

  .service-icon {
    font-size: 40px;
    color: #f36f3f;
    margin-bottom: 15px;
  }

  .service-title {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "luxury-regular", sans-serif;
  }

  /* Remove right border for last column */
  .row>.col:last-child .service-card {
    border-right: none;
  }

  /* Remove bottom border for last row */
  .service-card.no-bottom {
    border-bottom: none;
  }
}

.img-work-section {
  .book-card {
    text-align: center;
  }

  .book-img {
    max-width: 100%;
    height: auto;
   
    margin-bottom: 15px;
  }

  .book-caption {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: "luxury-regular", sans-serif;
  }
}

.service-detail{
  padding: 80px 0;
  p{
    font-size: 1rem;  
     line-height: 1.75rem;
  }
}